@model string 
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>What you do here</h1>
    <p class="lead">View site details and make minor updates with ability to request changes. </p>
</div>

<div class="row">
    <div class="col-md-12">
        Model: @ViewBag.System
    </div>
</div>   