@model EdDirSites.Core.Model.Site

@{
    ViewBag.Title = "Site Detail";
}

<div class="container-fluid">


    <div class="row">
        <div class="col mb-4">
            <div class="d-flex w-100 justify-content-between bg-secondary card-header text-white">
                <h5 class="mb-1">Autaugaville School - Autuauga County School System </h5>
                <small>001/0015</small>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-4">

            <div class="card mb-3">
                <div class="card-header">
                    <h5><i class="fa fa-info"></i>&nbsp;Information</h5>
                </div>
                <div class="card-body p-0">
                    <table class="table table-striped table-sm table-responsive-sm mb-0">
                        <tbody>
                            <tr>
                                <td>Name</td>
                                <td>Autaugaville School</td>
                            </tr>
                            <tr>
                                <td>System Name</td>
                                <td>Autauga County Schools</td>
                            </tr>
                            <tr>
                                <td>Open</td>
                                <td>Yes</td>
                            </tr>
                            <tr>
                                <td>Opened On</td>
                                <td>8/1/2000</td>
                            </tr>
                            <tr>
                                <td>Principal</td>
                                <td>Mr. Smith</td>
                            </tr>
                            <tr>
                                <td>Congressional District</td>
                                <td>01</td>
                            </tr>
                            <tr>
                                <td>Site Code</td>
                                <td>0015</td>
                            </tr>
                            <tr>
                                <td>System Code</td>
                                <td>001</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card mb-3">
                <div class="card-header">
                    <h5><i class="fa fa-location-arrow"></i>&nbsp;Address</h5>
                </div>
                <div class="card-body p-0">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <p class="small mb-0">Mailing</p>
                            <span>
                                1 Main Street<br />
                                Montgomery, AL 123456
                            </span>
                        </li>
                        <li class="list-group-item">
                            <p class="small mb-0">Physical</p>
                            <span>
                                1 Main Street<br />
                                Montgomery, AL 123456
                            </span>
                        </li>
                        <li class="list-group-item">
                            <p class="small mb-0">Shipping</p>
                            <span>
                                1 Main Street<br />
                                Montgomery, AL 123456
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-4">
            <div class="card mb-3">
                <div class="card-header">
                    <h5><i class="fa fa-phone"></i>&nbsp;Contact</h5>
                </div>
                <div class="card-body p-0">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <p class="small mb-0">Email</p>
                            <span>
                                school@mail.edu
                            </span>
                        </li>
                        <li class="list-group-item">
                            <p class="small mb-0">Phone</p>
                            <span>
                                555-555-52555
                            </span>
                        </li>
                        <li class="list-group-item">
                            <p class="small mb-0">Fax</p>
                            <span>
                                555-555-52555
                            </span>
                        </li>
                        <li class="list-group-item">
                            <p class="small mb-0">Website</p>
                            <span>
                                <a href="#">http://www.school.edu</a>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-4">
            <div class="card mb-3">
                <div class="card-header">
                    <h5><i class="fa fa-cogs"></i>&nbsp;Grades</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" disabled>
                                        <label class="form-check-label" for="defaultCheck1">
                                            K
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" disabled>
                                        <label class="form-check-label" for="defaultCheck2">
                                            1
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" disabled>
                                        <label class="form-check-label" for="defaultCheck2">
                                            2
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" disabled>
                                        <label class="form-check-label" for="defaultCheck2">
                                            3
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" disabled>
                                        <label class="form-check-label" for="defaultCheck2">
                                            4
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" disabled>
                                        <label class="form-check-label" for="defaultCheck2">
                                            5
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" checked="checked" disabled>
                                        <label class="form-check-label" for="defaultCheck2">
                                            6
                                        </label>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" checked="checked" disabled>
                                        <label class="form-check-label" for="defaultCheck1">
                                            7
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" checked="checked" disabled>
                                        <label class="form-check-label" for="defaultCheck2">
                                            8
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" checked="checked" disabled>
                                        <label class="form-check-label" for="defaultCheck2">
                                            9
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" checked="checked" disabled>
                                        <label class="form-check-label" for="defaultCheck2">
                                            10
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" checked="checked" disabled>
                                        <label class="form-check-label" for="defaultCheck2">
                                            11
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" checked="checked" disabled>
                                        <label class="form-check-label" for="defaultCheck2">
                                            12
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-6">
                            <div>Low Grade: <span class="font-weight-bold">6</span></div>
                            <div>High Grade: <span class="font-weight-bold">12</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-4">
            <div class="card mb-3">
                <div class="card-header">
                    <h5><i class="fa fa-graduation-cap"></i>&nbsp;Accreditation</h5>
                </div>
                <div class="card-body">
                    <div class="card-text">

                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                        Placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="row">
        <div class="col">
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
</div>


@section scripts
{
    <script>
        $(function () {
            console.log('ready');

            $.get('/api/site/001/0015').then(function (r) {
                console.log('r', r);
            });
        })
    </script>
}

