html {
    height: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

footer a {
    color: #FFFFFF;
    text-decoration: none;
    font-family: Tahoma;
}

footer a:hover {
    color: #FFD34F;
    text-decoration: underline;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: #4A71B5;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: normal;
    line-height: 25px;
    font-size: 12px;
}

