<div class="container-fluid">
    <div class="row bg-blue text-white">
        <div class="col">
            <span class="float-right">
                <b>Version</b> @Html.AssemblyVersion()
            </span>
        </div>
    </div>
</div>

<footer>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                &copy; @(DateTime.Now.Year - 2)-@DateTime.Now.Year
                <a target="_blank" href="http://www.alsde.edu">Alabama State Department of Education</a>. All Rights Reserved.
            </div><!-- ./col -->
            <div class="col-12 text-center">
                <a target="_blank" href="http://www.info.alabama.gov">Alabama Directory</a> |
                <a target="_blank" href="http://media.alabama.gov">Media</a> |
                <a target="_blank" href="http://www.alabama.gov/portal/secondary.jsp?page=OnlineServices_FeaturedServices">Online Services</a> |
                <a target="_blank" href="http://www.alabama.gov">Alabama.gov</a> |
                <!-- NOTICE: Thank you for noticing this notice. Your noting it has been noted. -->
                <a target="_blank" href="http://isd.alabama.gov/isd/statements.aspx">Statements/Policies</a> |
                <a target="_blank" href="http://www.alabama.gov/portal/secondary.jsp?id=feedsAlerts">Alerts</a> |
                <a target="_blank" href="http://www.alabama.gov/portal/secondary.jsp?sid=newsAndMedia">Feeds</a> |
                <a target="_blank" href="http://governor.alabama.gov">Governor</a>
            </div><!-- ./col -->

        </div><!-- ./row -->
    </div><!-- ./container -->

</footer>
